{% extends 'base.html' %}

{% block navbar %}
<div class="container-fluid">
    <div class="row">
        <div class="col-auto">
            <!-- Navbar lateral -->
            <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbarvertical" id="navbarContent">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'mostrar_equipo' %}active{% endif %}" href="{{ url_for('mostrar_equipo') }}">
                            Información del equipo
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'mostrar_analisis_funcional' %}active{% endif %}" href="{{ url_for('mostrar_analisis_funcional', sistema_id=sistema_id) }}">
                            Análisis funcional
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'mostrar_herramientas_especiales' %}active{% endif %}" href="{{ url_for('mostrar_herramientas_especiales') }}">
                            Modulo de herramientas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'mostrar_repuesto' %}active{% endif %}" href="{{ url_for('mostrar_repuesto') }}">
                            Repuesto
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'mostrar_FMEA' %}active{% endif %}" href="{{ url_for('mostrar_FMEA') }}">
                            FMEA
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'mostrar_RCM' %}active{% endif %}" href="{{ url_for('mostrar_RCM') }}">
                            RCM
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'mostrar_MTA' %}active{% endif %}" href="{{ url_for('mostrar_MTA') }}">
                            MTA - LORA
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'mostrar_informe' %}active{% endif %}" href="{{ url_for('mostrar_informe') }}">
                            Generar reporte
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'mostrar_general' %}active{% endif %}" href="{{ url_for('mostrar_general') }}">
                            Mostrar General
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}