{% extends 'base.html' %}

{% block navbar %}
<div class="container-fluid">
    <div class="row">
        <div class="col-auto">
            <!-- Navbar lateral -->
            <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbarvertical" id="navbarContent">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'registro_generalidades' %}active{% endif %}" href="{{ url_for('registro_generalidades',id_equipo_info=id_equipo_info) }}">

                            Información del equipo
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'registro_analisis_funcional' %}active{% endif %}" href="{{ url_for('registro_analisis_funcional', sistema_id=sistema_id) }}">
                            Análisis funcional
                        </a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link {% if request.endpoint == 'registro_herramientas_especiales' %}active{% endif %}" href="{{ url_for('registro_herramientas_especiales',id_equipo_info=id_equipo_info) }}">

                            Módulo de herramientas
                        </a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link {% if request.endpoint == 'registro_repuesto' %}active{% endif %}" href="{{ url_for('registro_repuesto', id_equipo_info=(id_equipo_info or session.get('id_equipo_info') or 0)) }}">

                            Repuesto
                        </a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link {% if request.endpoint == 'registro_FMEA' %}active{% endif %}" href="{{ url_for('registro_FMEA',id_equipo_info=(id_equipo_info or session.get('user_data', {}).get('id_equipo_info', 0)), AOR=session.get('user_data', {}).get('AOR', 0)) }}">

                            FMEA
                        </a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link {% if request.endpoint == 'registro_RCM' %}active{% endif %}">

                            RCM
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'registro_MTA' %}active{% endif %}">

                            MTA - LORA
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
