{% extends 'base.html' %}

{% block navbar %}
<div class="container-fluid">
    <div class="row">
        <div class="col-auto">
            <!-- Navbar lateral -->
            <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse navbarvertical" id="navbarContent">
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('registro_generalidades') }}">Información del equipo</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('registro_analisis_funcional', sistema_id=sistema_id) }}">Análisis funcional</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Análisis de herramientas</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('registro_herramientas_especiales') }}">Herramientas especiales</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('registro_repuesto') }}">Repuesto</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('registro_FMEA') }}">FMEA</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('registro_RCM') }}">RCM</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('registro_MTA') }}">MTA</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">LORA</a></li>
                </ul>
            </div>
        </div>
        <div class="col">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
