{% extends './base.html' %}

{% block nombre %}LSA{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/desglose.css') }}">
    <div class="search-bar">
        <input class="box" type="text" id="livebox" placeholder="Buscar por equipos">
        <button><a class="nav-link nuevoEquipoBtn" href="{{url_for('registro_generalidades')}}">Nuevo equipo +</a></button>
    </div>

    <div id="resultados" class="grid-container">
        {% for grupo in grupos %}
        <div class="card" data-id="{{ grupo.id }}" data-type="grupo">
            <p>{{ grupo.numeracion }} - {{ grupo.nombre }}</p>
        </div>
        {% endfor %}
    </div>

    <div id="volverBtn" class="hidden">
        <button>Volver</button>
    </div>

    <script src="{{ url_for('static', filename='js/desglose.js') }}"></script>
{% endblock %}
