{% extends './base.html' %}

{% block title %}Cotecmar || Equipo - FMEA{% endblock %}

{% block custom %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/FMEA.css') }}">
{% endblock %}



{% block nombre %}LSA | hola mundo - FMEA{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-auto ">
      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse navbarvertical"  id="navbarContent">
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link" href="{{url_for('mostrar_equipo')}}">Información del equipo</a></li>
          <li class="nav-item"><a class="nav-link" href="{{url_for('mostrar_analisis_funcional')}}">Análisis funcional</a></li>
          <li class="nav-item"><a class="nav-link" href="{{url_for('mostrar_herramientas_especiales')}}">Herramientas especiales</a></li>
          <li class="nav-item"><a class="nav-link" href="{{url_for('mostrar_repuesto')}}">Repuesto</a></li>
          <li class="nav-item active"><a class="nav-link" href="{{url_for('mostrar_FMEA')}}">FMEA</a></li>
          <li class="nav-item"><a class="nav-link" href="{{url_for('mostrar_RCM')}}">RCM</a></li>
          <li class="nav-item"><a class="nav-link" href="{{url_for('mostrar_MTA')}}">MTA - LORA</a></li>
       </ul>
      </div>
    </div>

    <div class="col col-md-9">
      <h2 class="section-title text-center">Failure Modes and Effects Analysis (FMEA)</h2>
        <div class="scroll-container-horizontal">
          <table class="table">
            <thead>
                <tr>
                    <th colspan="12"></td>
                    <th scope="col" colspan="2">Consecuencia de severidad FO - Fallos Ocultos</th>
                    <th scope="col"  colspan="2">SF - Seguridad Física</th>
                    <th scope="col"  colspan="2">MA - Medio Ambiente</th>
                    <th scope="col"  colspan="2">IO - Impacto Operacional</th>
                    <th scope="col"  colspan="2">OR - Costos de Reparación</th>
                    <th scope="col"  colspan="2">FO - Flexibilidad Operacional</th>
                    <th></th>
                    <th scope="col"  colspan="2">Ocurrencia</th>
                    <th scope="col" >AOR/MTBF</th>
                    <th scope="col"  colspan="2">Probabilidad de Detección</th>
                    <th colspan="4"></th>
                </tr>
            </thead>  
            <tbody>  
              <tr style="font-weight:bold;">
                <td>#</td>
                <td>Sistema</td>
                <td>Falla Funcional</td>
                <td>Item o componente</td>
                <td>Codigo Modo de Falla</td>
                <td>Consecutivo de Modo de Falla</td>
                <td>Descripción Modo de Falla</td>
                <td>Causas</td>
                <td>Mecancismo de Falla</td>
                <td>Detalle del Mecancismo de Falla</td>
                <td>MTBF</td>
                <td>MTTR</td>
                <td>Valor</td>
                <td>Descripción</td>
                <td>Valor</td>
                <td>Descripción</td>
                <td>Valor</td>
                <td>Descripción</td>
                <td>Valor</td>
                <td>Descripción</td>
                <td>Valor</td>
                <td>Descripción</td>
                <td>Valor</td>
                <td>Descripción</td>
                <td>Calculo de Severidad </td>
                <td>Valor</td>
                <td>Descripción</td>
                <td>Ocurrencia Matematica</td>
                <td>Valor</td>
                <td>Descripción</td>
                <td>RPN Valor Total de Riesgo</td>
                <td>Riesgo</td>
                <td>Accion recomendada FMEA</td>
                <td>Frecuencia inicial</td>
              </tr>
              <tr>
                <td scope="row">1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td scope="row">2</td>
                <td>Jacob</td>
                <td>tdornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <td scope="row">3</td>
                <td colspan="2">Larry tde Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
      <div class="mt-4">
        <button type="button" class="btn btn-primary"><a href="{{url_for('editar_FMEA')}}">Editar FMEA</a></button>
      </div>    
    </div>
  </div>
</div>
{% endblock %}