{% extends '/base.html' %}

{% block title %}LSA de {{ equipo.nombre_equipo }}{% endblock %}

{%block custom%}
    <script src="https://cdn.jsdelivr.net/npm/pdf-lib/dist/pdf-lib.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mostrar_general.css') }}">
{%endblock%}

{%block nombre%}{{ equipo.nombre_equipo }}{%endblock%}

{% block body %}

    <div class="container" id="reporte" >
        <button class="reporte no-print" id="botonPDF" data-nombre-equipo="{{ equipo.nombre_equipo }}" data-marca-equipo="{{ equipo.marca }}" data-modelo-equipo="{{ equipo.modelo }}">
            <img src="{{ url_for('static', filename='img/acrobata.png') }}" alt="PDF">
            <span class="text">Generar informe</span>
        </button>
        <br>
        <!-- Incluir Información del Equipo -->
        <div class="section">
            {% include 'equipo.html' %}
        </div>
        <br><br>
        <!-- Incluir Análisis Funcional -->
        <div class="section">
            {% include 'analisis_funcional.html' %}
        </div>
        <br><br>
        <!-- Incluir Herramientas Especiales -->
        <div class="section">
            {% include 'herramientas-especiales.html' %}
        </div>
        <br><br>
        <!-- Incluir Repuesto -->
        <div class="section">
            {% include 'repuesto.html' %}
        </div>
        <br><br>

        <!-- Incluir FMEA -->

        <div class="special-fmea">
            {% include 'FMEA.html' %}
        </div>
        <br><br>
        <!-- Incluir RCM -->
        <div class="special-fmea">
            {% include 'RCM.html' %}
        </div>
        <br><br>
        <!-- Incluir MTA -->
        <div class="special-fmea">
            {% include 'MTA.html' %}
        </div>
        <br>
        <a href="{{ url_for('index') }} " class="volver no-print"><i class="bi bi-arrow-left-circle-fill"></i></a>
        <br>
    </div>
    <script src="{{url_for('static', filename='js/informe.js')}}"></script>
{% endblock %}

