{% extends '/base_navbar_mostrar.html' %}

{% block content %}
    <div class="container">
        <h1>Vista General</h1>

        <!-- Incluir Información del Equipo -->
        <div class="section">
            {% include 'equipo.html' %}
        </div>
        <br>
        <!-- Incluir Análisis Funcional -->
        <div class="section">
            {% include 'analisis_funcional.html' %}
        </div>
        <br>
        <!-- Incluir Herramientas Especiales -->
        <div class="section">
            {% include 'herramientas-especiales.html' %}
        </div>

        <br>

        <!-- Incluir Repuesto -->
        <div class="section">
            {% include 'repuesto.html' %}
        </div>
        <br>

        <!-- Incluir FMEA -->
        <div class="section">
            {% include 'FMEA.html' %}
        </div>
        <br>
        <!-- Incluir RCM -->
        <div class="section">
            {% include 'RCM.html' %}
        </div>
        <br>
        <!-- Incluir MTA -->
        <div class="section">
            {% include 'MTA.html' %}
        </div>
        <br>
    </div>
{% endblock %}

