{% extends './base.html' %}

{% block title %}Cotecmar || Registro del RCM{% endblock %}

{% block custom %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/registro_rcm.css') }}">
{% endblock %}

{% block nombre %}LSA | Registro del RCM{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-auto">
            <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbarvertical" id="navbarContent">
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link active" href="#">Información del equipo</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Análisis funcional</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Análisis de herramientas</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Herramientas especiales</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Repuesto</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">FMEA</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">RCM</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">MTA</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">LORA</a></li>
                </ul>
            </div>
        </div>

        <div class="col">
            <h2 class="section-title text-center">LSA | Registro del RCM</h2>

            <form id="rcm-form">
                <div class="row">
                    <!-- Primera Columna -->
                    <div class="col-md-4">
                        <label for="sistema" class="form-label">Sistema</label>
                        <input type="text" class="form-control" id="sistema" name="sistema" placeholder="Sistema">

                        <label for="falla_funcional" class="form-label mt-3">Falla Funcional (FF)</label>
                        <input type="text" class="form-control" id="falla_funcional" name="falla_funcional" placeholder="Falla Funcional">

                        <label for="item_componente" class="form-label mt-3">Item o Componente</label>
                        <input type="text" class="form-control" id="item_componente" name="item_componente" placeholder="Item o Componente">

                        <label for="codigo_modo_falla" class="form-label mt-3">Código Modo de Falla (ISO 14224)</label>
                        <input type="text" class="form-control" id="codigo_modo_falla" name="codigo_modo_falla" placeholder="Código Modo de Falla">

                        <label for="consecutivo_modo_falla" class="form-label mt-3">Consecutivo Modo de Falla</label>
                        <input type="text" class="form-control" id="consecutivo_modo_falla" name="consecutivo_modo_falla" placeholder="Consecutivo Modo de Falla">

                        <label for="descripcion_modo_falla" class="form-label mt-3">Descripción Modo de Falla</label>
                        <input type="text" class="form-control" id="descripcion_modo_falla" name="descripcion_modo_falla" placeholder="Descripción Modo de Falla">
                    </div>

                    <!-- Segunda Columna -->
                    <div class="col-md-4">
                        <label for="causas" class="form-label">Causas</label>
                        <input type="text" class="form-control" id="causas" name="causas" placeholder="Causas">

                        <div class="mt-3">
                            <button type="button" class="btn btn-primary" id="btn-realizar-cuestionario">Realizar Cuestionario RCM</button>
                        </div>

                        <label for="hidden_failures" class="form-label mt-3">Hidden Failures</label>
                        <input type="text" class="form-control gray-input" id="hidden_failures" name="hidden_failures" placeholder="Hidden Failures">

                        <label for="safety" class="form-label mt-3">Safety</label>
                        <input type="text" class="form-control gray-input" id="safety" name="safety" placeholder="Safety">

                        <label for="enviroment" class="form-label mt-3">Environment</label>
                        <input type="text" class="form-control gray-input" id="enviroment" name="enviroment" placeholder="Environment">

                        <label for="operation" class="form-label mt-3">Operation</label>
                        <input type="text" class="form-control gray-input" id="operation" name="operation" placeholder="Operation">
                    </div>

                    <!-- Tercera Columna -->
                    <div class="col-md-4">
                        <label for="h1s1" class="form-label">H1S1N1O1</label>
                        <input type="text" class="form-control gray-input" id="h1s1" name="h1s1" placeholder="H1/S1/N1/O1">

                        <label for="h2s2" class="form-label mt-3">H2S2N2O2</label>
                        <input type="text" class="form-control gray-input" id="h2s2" name="h2s2" placeholder="H2/S2/N2/O2">

                        <label for="h3s3" class="form-label mt-3">H3S3N3O3</label>
                        <input type="text" class="form-control gray-input" id="h3s3" name="h3s3" placeholder="H3/S3/N3/O3">

                        <label for="h4s4" class="form-label mt-3">H4S4</label>
                        <input type="text" class="form-control gray-input" id="h4s4" name="h4s4" placeholder="H4/S4">

                        <label for="h5" class="form-label mt-3">H5</label>
                        <input type="text" class="form-control gray-input" id="h5" name="h5" placeholder="H5">

                        <label for="tarea" class="form-label mt-3">Tarea</label>
                        <input type="text" class="form-control gray-input" id="tarea" name="tarea" placeholder="Tarea">
                    </div>
                </div>

                <!-- Botón "Siguiente" para pasar a la segunda vista -->
                <div class="text-end mt-4">
                    <button type="button" class="btn btn-primary" id="btn-siguiente">Siguiente</button>
                </div>
                <script>
                    document.getElementById('btn-siguiente').addEventListener('click', function() {
                    window.location.href = 'registro-rcm-2'; // Cambiar a la segunda vista de FMEA
                    });
                </script>
            </form>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/registro_rcm.js') }}"></script>

{% endblock %}
