{% extends 'base_navbar.html' %}


{% block title %}Cotecmar || Registro del MTA{% endblock %}

{% block custom %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/registro_mta.css') }}">
{% endblock %}

{% block nombre %}Registro del MTA - LORA{% endblock %}

{% block content %}
        <!-- Contenido principal -->
        <div class="col">
            <h2 class="section-title text-center">Maintenance Task Analysis (MTA)</h2>
            <br>
            {% if editar %}
                <form id="mta-form" method="POST" action="{{ url_for('actualizar_MTA', mta_id=mta['id']) }}">

                <div class="row">
                    <div class="col-md-4">
                        <label for="sistema" class="form-label">Sistema</label>
                        <input type="text" id="sistema" class="form-control" name="sistema" value="{{ rcm['sistema'] | default('') }}" readonly>

                        <label for="tipo_mantenimiento" class="form-label">Tipo de mantenimiento</label>
                        <select class="form-control" id="tipo_mantenimiento" name="tipo_mantenimiento">
                            <option value="" disabled selected>---- Selecciona ----</option>
                            {% for tipo in tipo_de_manteniemto %}
                                <option value="{{ tipo['id'] }}" {% if mta['id_tipo_mantenimiento'] == tipo.id %}selected{% endif %}>{{ tipo['nombre'] }}</option>
                            {% endfor %}
                        </select>

                    </div>    
                    <div class="col-md-4">
                        <label for="componente" class="form-label">Componente</label>
                        <input type="text" id="componente" class="form-control" name="componente" value="{{ rcm['componente'] | default('') }}" readonly>

                        <label for="tarea_mantenimiento" class="form-label">Tarea de mantenimiento</label>
                        <select class="form-control" id="tarea_mantenimiento" name="tarea_mantenimiento">
                            <option value="" disabled selected>---- Selecciona ----</option>
                            {% for tarea in tarea_mantenimento %}
                                <option value="{{ tarea['id'] }}" {% if mta['id_tarea_mantenimiento'] == tarea.id %}selected{% endif %}>{{ tarea['nombre'] }}</option>
                            {% endfor %}
                        </select>  
                    </div>
                    <div class="col-md-4">
                        <label for="falla_funcional" class="form-label">Falla Funcional</label>
                        <input type="text" id="falla_funcional" class="form-control" name="falla_funcional" value="{{ rcm['falla_funcional'] }}" readonly>

                        <label for="personal_requerido" class="form-label">Cantidad de personal requerido</label>
                        <input type="number" id="personal_requerido" name="personal_requerido" class="form-control" value="{{ mta['cantidad_personal'] }}">
                    </div>
                    
                    
                    <!-- Herramientas / Equipos Requeridos -->
                    <h4 class="section-title text-center my-4">HERRAMIENTAS / EQUIPOS REQUERIDOS</h4>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        {% for key in herramientas_por_tipo %}
                        {% set key_sin_espacios = key.replace(' ', '') %}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="{{ key_sin_espacios + '-tab' }}" data-bs-toggle="tab" data-bs-target="#{{ key_sin_espacios }}" type="button" role="tab" aria-controls="{{ key_sin_espacios }}" aria-selected="true">{{ key }}</button>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        {% for key in herramientas_por_tipo %}
                        {% set key_sin_espacios = key.replace(' ', '') %}
                        <div class="tab-pane fade show" id="{{ key_sin_espacios }}" role="tabpanel" aria-labelledby="{{ key_sin_espacios }}-tab">
                            <br>
                            {% for herramienta in herramientas_por_tipo[key] %}
                                {% if loop.index0 % 3 == 0 %}
                                    <div class="row">
                                {% endif %}
                                <div class="col-md-4 form-check">
                                    <input type="checkbox" class="form-check-input herramienta-checkbox" id="{{ herramienta.id_herramienta_requerida }}" value="{{ herramienta.id_herramienta_requerida  }}"
                                    {% if herramienta['id_herramienta_requerida'] in herramientas_mta | map(attribute='id_herramienta_requerida') %}checked{% endif %}>
                                    <label for="{{ herramienta.id_herramienta_requerida }}" class="form-check-label">{{ herramienta.nombre }}</label>

                                </div>
                                {% if loop.index0 % 3 == 2 or loop.last %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                    </div>

                    <!-- Fin Herramientas / Equipos Requeridos -->
                    
                    <!-- Primera columna -->
                    <div class="row my-4">
                        <div class="col-md-6">
                            <label for="consumibles_requeridos" class="form-label">Consumibles requeridos</label>
                            <input type="text" class="form-control" id="consumibles_requeridos" name="consumibles_requeridos" value="{{ mta['consumibles_requeridos'] }}">
                        </div>
                        <div class="col-md-6">
                            <label for="requeridos_tarea" class="form-label">Requeridos por Tarea</label>
                            <input type="text" class="form-control" id="requeridos_tarea" name="requeridos_tarea" value="{{ mta['requeridos_tarea'] }}">
                        </div>
                    </div>

                    <!-- Segunda columna -->
                    <div class="row my-4">
                        <div class="col-md-4">
                            <label for="condiciones_requeridas_ambientales" class="form-label">Condiciones Requeridas (Ambientales)</label>
                            <input type="text" class="form-control" id="condiciones_requeridas_ambientales" name="condiciones_requeridas_ambientales" value="{{ mta['condiciones_ambientales'] }}">
                        </div>
                        <div class="col-md-4">
                            <label for="condiciones_requeridas_estado_equipo" class="form-label">Condiciones Requeridas (Estado del equipo)</label>
                            <select class="form-control" id="condiciones_requeridas_estado_equipo" name="condiciones_requeridas_estado_equipo">
                                <option value="" disabled selected>---- Selecciona ----</option>
                                <option value="Apagado" {% if mta['condiciones_estado_equipo'] == "Apagado" %}selected{% endif %}>Apagado</option>
                                <option value="Apagado sin alimentacion" {% if mta['condiciones_estado_equipo'] == "Apagado sin alimentacion" %}selected{% endif %}>Apagado sin alimentación</option>
                                <option value="Funcionando" {% if mta['condiciones_estado_equipo'] == "Funcionando" %}selected{% endif %}>Funcionando</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="condiciones_requeridas_especiales" class="form-label">Condiciones Requeridas (Especiales)</label>
                            <input type="text" class="form-control" id="condiciones_requeridas_especiales" name="condiciones_requeridas_especiales" value="{{ mta['condiciones_especiales'] }}">
                        </div>
                    </div>

                    <!-- Tercera columna -->
                    <div class="row my-4">
                        <div class="col-md-4">
                            <label for="duracion_tarea_horas" class="form-label">Duración de la Tarea (Horas)</label>
                            <input type="number" class="form-control" id="duracion_tarea_horas" name="duracion_tarea_horas" value="{{ mta['horas'] }}">
                        </div>
                        <div class="col-md-4">
                            <label for="duracion_tarea_minutos" class="form-label">Duración de la Tarea (Minutos)</label>
                            <input type="number" class="form-control" id="duracion_tarea_minutos" name="duracion_tarea_minutos" value="{{ mta['minutos'] }}">
                        </div>
                        <div class="col-md-4">
                            <label for="detalle_tarea" class="form-label">Detalle de tarea</label>
                            <input type="text" class="form-control" id="detalle_tarea" name="detalle_tarea" value="{{ mta['detalle_tarea'] }}">
                        </div>
                    </div>
                    {% if repuestos %}
                    <label for="repuestos_requeridos" class="form-label">Repuestos Requeridos (referenciado del manual)</label>
                    {% endif %}
                    {% for repuesto in repuestos %}
                        {% if loop.index0 % 3 == 0 %}
                            <div class="row">
                        {% endif %}
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input repuesto-checkbox" id="{{ repuesto.id }}" value="{{ repuesto.id }}"
                            {% if repuesto.id in repuestos_mta | map(attribute='id') %}checked{% endif %}>
                            <label for="{{ repuesto.id }}" class="form-check-label">{{ repuesto.nombre_repuesto }}</label>
                        </div>
                        {% if loop.index0 % 3 == 2 or loop.last %}
                            </div>
                        {% endif %}
                    {% endfor %}
                     <!-- checkbox por repuesto -->
                    <h2 class="section-title text-center">Level Of Repair Analysis (LORA)</h2>

                    <div class="mt-3 popup">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="startQuizBtn">
                            Realizar Cuestionario LORA
                        </button>
                        
                        <!-- El Modal (popup) -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Cuestionario LORA</h5>
                                        <button id="startQuizBtn" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <label id="questionText" class="d-block mb-3"></label>
                                        <div id="answers">
                                            <!-- Los botones "Sí" y "No" -->
                                            <button type="button" class="btn btn-primary me-2" id="yesBtn">Sí</button>
                                            <button type="button" class="btn btn-primary" id="noBtn">No</button>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <br><br>
                                        <button type="button" class="btn btn-secondary" id="backBtn"><i class="bi bi-arrow-left-circle-fill"></i></button>
                                    </div>                             
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <table class="table mt-3">
                      <thead>
                        <tr>
                          <th scope="col">Nivel</th>
                          <th scope="col">Actividades</th>
                          <th scope="col">Operario</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <select class="form-select" id="nivel" name="nivel">

                              <option value="1" {% if lora_mta['nivel'] == "1" %}selected{% endif %}>I</option>
                              <option value="2" {% if lora_mta['nivel'] == "2" %}selected{% endif %}>II</option>
                              <option value="3" {% if lora_mta['nivel'] == "3" %}selected{% endif %}>III</option>
                              <option value="2" {% if lora_mta['nivel'] == "4" %}selected{% endif %}>IV</option>
                              <option value="3" {% if lora_mta['nivel'] == "5" %}selected{% endif %}>V</option>
                            </select>
                          </td>
                          <td><input type="text" class="form-control gray-input" id="actividades" name="actividades" readonly value="{{ lora_mta['actividades'] }}"></td>
                          <td>
                            <select class="form-select" id="operario" name="operario">
                                <option value="operario_1" {% if lora_mta['operario'] == "operario_1" %}selected{% endif %}>Nivel operador</option>
                                <option value="operario_2" {% if lora_mta['operario'] == "operario_2" %}selected{% endif %}>Técnicas de nivel aprendiz</option>
                                <option value="operario_3" {% if lora_mta['operario'] == "operario_3" %}selected{% endif %}>Técnico intermedio con curso básico del equipo</option>
                                <option value="operario_4" {% if lora_mta['operario'] == "operario_4" %}selected{% endif %}>Técnicos del más alto nivel en la empresa, con varios años de experiencia y cursosavanzados sobre el equipo</option>
                                <option value="operario_5" {% if lora_mta['operario'] == "operario_5" %}selected{% endif %}>Grupo de trabajo con experiencia previa</option>
                                <option value="operario_2" {% if lora_mta['operario'] == "operario_6" %}selected{% endif %}>Conformado por técnicos en varias disciplinas bajo la dirección de un ingeniero de campo</option>
                                <option value="operario_3" {% if lora_mta['operario'] == "operario_7" %}selected{% endif %}>Las labores de planeación corresponden a otro nivel dentro de la misma organización</option>
                                <option value="operario_4" {% if lora_mta['operario'] == "operario_8" %}selected{% endif %}>Apoyo permanente del fabricante</option>
                                <option value="operario_5" {% if lora_mta['operario'] == "operario_9" %}selected{% endif %}>Apoyo permanente de talleres especializados</option>
                            </select>
                        </td>

                        </tr>
                      </tbody>
                    </table>

                    <!-- Botón siguiente -->
                    <div class="text-end mt-4">
                        <button type="submit" class="btn btn-siguiente" id="btn-siguiente">Actualizar MTA</button>

                    </div>
                </form>
            {% else %}
                <form id="mta-form" method="POST" action="{{ url_for('guardar_MTA', fmea_id=fmea['id']) }}">
                <div class="row">
                    <div class="col-md-4">
                        <label for="sistema" class="form-label">Sistema</label>
                        <input type="text" id="sistema" class="form-control" name="sistema" value="{{ fmea['sistema'] | default('') }}" readonly>

                        <label for="tipo_mantenimiento" class="form-label">Tipo de mantenimiento</label>
                        <select class="form-control" id="tipo_mantenimiento" name="tipo_mantenimiento">
                            <option value="" disabled selected>---- Selecciona ----</option>
                            {% for tipo in tipo_de_manteniemto %}
                                <option value="{{ tipo['id'] }}">{{ tipo['nombre'] }}</option>
                            {% endfor %}
                        </select>

                    </div>
                    <div class="col-md-4">
                        <label for="componente" class="form-label">Componente</label>
                        <input type="text" id="componente" class="form-control" name="componente" value="{{ fmea['componente'] | default('') }}" readonly>

                        <label for="tarea_mantenimiento" class="form-label">Tarea de mantenimiento</label>
                        <select class="form-control" id="tarea_mantenimiento" name="tarea_mantenimiento">
                            <option value="" disabled selected>---- Selecciona ----</option>
                            {% for tarea in tarea_mantenimento %}
                                <option value="{{ tarea['id'] }}">{{ tarea['nombre'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="falla_funcional" class="form-label">Falla Funcional</label>
                        <input type="text" id="falla_funcional" class="form-control" name="falla_funcional" value="{{ fmea['falla_funcional'] }}" readonly>

                        <label for="personal_requerido" class="form-label">Cantidad de personal requerido</label>
                        <input type="number" id="personal_requerido" name="personal_requerido"  class="form-control">
                    </div>


                    <!-- Herramientas / Equipos Requeridos -->
                    <h4 class="section-title text-center my-4">HERRAMIENTAS / EQUIPOS REQUERIDOS</h4>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        {% for key in herramientas_por_tipo %}
                        {% set key_sin_espacios = key.replace(' ', '') %}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="{{ key_sin_espacios + '-tab' }}" data-bs-toggle="tab" data-bs-target="#{{ key_sin_espacios }}" type="button" role="tab" aria-controls="{{ key_sin_espacios }}" aria-selected="true">{{ key }}</button>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        {% for key in herramientas_por_tipo %}
                        {% set key_sin_espacios = key.replace(' ', '') %}
                        <div class="tab-pane fade show" id="{{ key_sin_espacios }}" role="tabpanel" aria-labelledby="{{ key_sin_espacios }}-tab">
                            <br>
                            {% for herramienta in herramientas_por_tipo[key] %}
                                {% if loop.index0 % 3 == 0 %}
                                    <div class="row">
                                {% endif %}
                                <div class="col-md-4 form-check">
                                    <input type="checkbox" class="form-check-input herramienta-checkbox" id="{{ herramienta.id_herramienta_requerida  }}" value = "{{ herramienta.id_herramienta_requerida  }}">
                                    <label for="{{ herramienta.id_herramienta_requerida }}" class="form-check-label">{{ herramienta.nombre }}</label>
                                </div>
                                {% if loop.index0 % 3 == 2 or loop.last %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Fin Herramientas / Equipos Requeridos -->

                    <!-- Primera columna -->
                    <div class="row my-4">
                        <div class="col-md-6">
                            <label for="consumibles_requeridos" class="form-label">Consumibles requeridos</label>
                            <input type="text" class="form-control" id="consumibles_requeridos" name="consumibles_requeridos">
                        </div>
                        <div class="col-md-6">
                            <label for="requeridos_tarea" class="form-label">Requeridos por Tarea</label>
                            <input type="text" class="form-control" id="requeridos_tarea" name="requeridos_tarea">
                        </div>
                    </div>

                    <!-- Segunda columna -->
                    <div class="row my-4">
                        <div class="col-md-4">
                            <label for="condiciones_requeridas_ambientales" class="form-label">Condiciones Requeridas (Ambientales)</label>
                            <input type="text" class="form-control" id="condiciones_requeridas_ambientales" name="condiciones_requeridas_ambientales">
                        </div>
                        <div class="col-md-4">
                            <label for="condiciones_requeridas_estado_equipo" class="form-label">Condiciones Requeridas (Estado del equipo)</label>
                            <select class="form-control" id="condiciones_requeridas_estado_equipo" name="condiciones_requeridas_estado_equipo">
                                <option value="" disabled selected>---- Selecciona ----</option>
                                <option value="Apagado">Apagado</option>
                                <option value="Apagado sin alimentacion">Apagado sin alimentación</option>
                                <option value="Funcionando">Funcionando</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="condiciones_requeridas_especiales" class="form-label">Condiciones Requeridas (Especiales)</label>
                            <input type="text" class="form-control" id="condiciones_requeridas_especiales" name="condiciones_requeridas_especiales">
                        </div>
                    </div>

                    <!-- Tercera columna -->
                    <div class="row my-4">
                        <div class="col-md-4">
                            <label for="duracion_tarea_horas" class="form-label">Duración de la Tarea (Horas)</label>
                            <input type="number" class="form-control" id="duracion_tarea_horas" name="duracion_tarea_horas">
                        </div>
                        <div class="col-md-4">
                            <label for="duracion_tarea_minutos" class="form-label">Duración de la Tarea (Minutos)</label>
                            <input type="number" class="form-control" id="duracion_tarea_minutos" name="duracion_tarea_minutos">
                        </div>
                        <div class="col-md-4">
                            <label for="detalle_tarea" class="form-label">Detalle de tarea</label>
                            <input type="text" class="form-control" id="detalle_tarea" name="detalle_tarea">
                        </div>
                    </div>
                    {% if repuestos %}
                    <label for="repuestos_requeridos" class="form-label">Repuestos Requeridos (referenciado del manual)</label>
                    {% endif %}
                        {% for repuesto in repuestos %}
                        {% if loop.index0 % 3 == 0 %}
                            <div class="row">
                        {% endif %}
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input repuesto-checkbox" id="{{ repuesto.id }}" value="{{ repuesto.id }}">
                            <label for="{{ repuesto.id }}" class="form-check-label">{{ repuesto.nombre_repuesto }}</label>
                        </div>
                        {% if loop.index0 % 3 == 2 or loop.last %}
                            </div>
                        {% endif %}
                    {% endfor %}

                    <h2 class="section-title text-center">Level Of Repair Analysis (LORA)</h2>

                    <div class="mt-3 popup">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="startQuizBtn">
                            Realizar Cuestionario LORA
                        </button>

                        <!-- El Modal (popup) -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Cuestionario LORA</h5>
                                        <button id="startQuizBtn" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <label id="questionText" class="d-block mb-3"></label>
                                        <div id="answers">
                                            <!-- Los botones "Sí" y "No" -->
                                            <button type="button" class="btn btn-primary me-2" id="yesBtn">Sí</button>
                                            <button type="button" class="btn btn-primary" id="noBtn">No</button>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <br><br>
                                        <button type="button" class="btn btn-secondary" id="backBtn"><i class="bi bi-arrow-left-circle-fill"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <table class="table mt-3">
                      <thead>
                        <tr>
                          <th scope="col">Nivel</th>
                          <th scope="col">Actividades</th>
                          <th scope="col">Operario</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <select class="form-select" id="nivel" name="nivel">
                              <option value="1">Nivel 1</option>
                              <option value="2">Nivel 2</option>
                              <option value="3">Nivel 3</option>
                            </select>
                          </td>
                          <td><input type="text" class="form-control gray-input" id="actividades" name="actividades" readonly></td>
                          <td><input type="text" class="form-control gray-input" id="operario" name="operario" value="{{ fmea['nombre_completo'] }}" readonly></td>
                        </tr>
                      </tbody>
                    </table>

                    <!-- Botón siguiente -->
                    <div class="text-end mt-4">
                        <button type="submit" class="btn btn-siguiente" id="btn-siguiente">Guardar MTA</button>
                    </div>
                </div>
                </form>

            {% endif %}
        </div>

<!--
    </div>
</div>
<script>
document.getElementById('mta-form').addEventListener('submit', function(event) {
    const checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
    const selectedValues = Array.from(checkboxes).map(cb => cb.value);
    const hiddenField = document.createElement('input');
    hiddenField.type = 'hidden';
    hiddenField.name = 'selected_herramientas';
    hiddenField.value = JSON.stringify(selectedValues);
    this.appendChild(hiddenField);
});
</script>
-->

<script src="{{ url_for('static', filename='js/cuestionario_lora.js') }}"></script>
<script src="{{ url_for('static', filename='js/registro_mta.js') }}"></script>
    <script>
document.getElementById('mta-form').addEventListener('submit', function(event) {
    const herramientaCheckboxes = document.querySelectorAll('.herramienta-checkbox:checked');
    const selectedHerramientas = Array.from(herramientaCheckboxes).map(cb => cb.value);
    const hiddenHerramientasField = document.createElement('input');
    hiddenHerramientasField.type = 'hidden';
    hiddenHerramientasField.name = 'selected_herramientas';
    hiddenHerramientasField.value = JSON.stringify(selectedHerramientas);
    this.appendChild(hiddenHerramientasField);

    const repuestoCheckboxes = document.querySelectorAll('.repuesto-checkbox:checked');
    const selectedRepuestos = Array.from(repuestoCheckboxes).map(cb => cb.value);
    const hiddenRepuestosField = document.createElement('input');
    hiddenRepuestosField.type = 'hidden';
    hiddenRepuestosField.name = 'selected_repuestos';
    hiddenRepuestosField.value = JSON.stringify(selectedRepuestos);
    this.appendChild(hiddenRepuestosField);
});
</script>
{% endblock %}
