/* Estilos generales */
body {
    background-color: #f3f4f6; /* Fondo gris claro */
    font-family: 'Inter', sans-serif;
}

/* Asegurar que el navbar permanece blanco */
.navbar {
    background-color: rgb(255, 255, 255) !important;
    position: sticky;  /* Hace que el elemento sea pegajoso */
    top: 0;            /* El valor de 'top' define a partir de qué punto se pega */
    z-index: 1000;     /* Asegura que esté por encima de otros elementos */
}

/* General layout */
.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Espacio mayor entre tarjetas */
    justify-content: center;
    margin-top: 20px; /* Reducido el margen superior */
}

/* Estilos para las tarjetas */
.card {
    width: 350px; /* Tamaño de tarjeta ajustado */
    height: 250px; /* Ajuste de altura */
    background-color: white;
    box-shadow: 0 4px 10px rgba(123, 115, 235, 0.473);
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column; /* Coloca el contenido en columna */
    justify-content: flex-start; /* Alinea el contenido en la parte superior */
    align-items: center;
    font-size: 18px;
    color: #003366; /* Color de texto */
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.card img {
    width: 100%;
    height: 180px;
    border-top-left-radius: 8px; /* Opcional: ajusta los bordes si la card tiene esquinas redondeadas */
    border-top-right-radius: 8px;
    background-color: rgba(0, 0, 255, 0.3); 
    mix-blend-mode: multiply;
}

.card h1 {
    font-size: 30px;
    color: #004AAD;
    margin: 5px 0; /* Espaciado más ajustado */
    font-weight: bold;
    
}

.card p {
    font-size: 16px;
    color: #143072;
    padding-right: 4px;
    padding-left: 4px;
}

.grupo{
   padding: 12px;
}

.card:hover {
    transform: translateY(-5px); /* Efecto de levantar la tarjeta */
    box-shadow: 0 8px 16px rgba(123, 115, 235, 0.473);
}

/* Barra de búsqueda */
.search-bar {
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    gap: 15px; /* Ajusta la separación entre los elementos */
}

#searchbox {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px; /* Bordes redondeados */
    width: 50%;
}

/* Estilos para los botones */
#nuevoEquipoBtn {
    padding: 12px 25px;
    background-color: rgb(33, 33, 99); /* Azul oscuro */
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#nuevoEquipoBtn:hover {
    background-color: rgb(13, 2, 63); /* Azul más oscuro al pasar el mouse */
}

#buscarBtn {
    border: none;
    background-color: transparent;
}

/* Botón de volver */
#volverBtn {
    margin: 20px auto;
    text-align: center;
}

.volverBtn {
    padding: 12px 25px;
    background-color: rgb(33, 33, 99); /* Azul oscuro */
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Ocultar elementos si es necesario */
.hidden {
    display: none;
}

/* Enlaces para 'Nuevo equipo' */
.new_equipo {
    text-decoration: none;
    color: white;
}

/* Estilos de navegación */
.nav-link.active {
    background-color: #0c367f3a;
    border-radius: 10px;
}

/* Iconos */
i {
    color: #002244;
}

/* Ajuste adicional para la distancia y posición de los elementos */
.grid-container {
    display: flex;
    justify-content: space-around; /* Espacio uniforme entre las tarjetas */
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 10px; /* Ajuste adicional para que queden más pegadas arriba */
}

.dynamic-card {
    width: 250px; /* Tamaño de tarjeta ajustado */
    height: 150px; /* Ajuste de altura */
    background-color: white;
    box-shadow: 0 4px 10px rgba(123, 115, 235, 0.473);
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column; /* Coloca el contenido en columna */
    justify-content: center; /* Alinea el contenido en la parte superior */
    align-items: center;
    font-size: 18px;
    color: #003366; /* Color de texto */
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 10px 5px;
}

.dynamic-card:hover {
    transform: scale(1.05); /* Efecto de hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Sombra más marcada */
}

