body {
    background-color: #f5f5f5;
}

.scroll-container-horizontal {
    width:auto;        /* Ancho del contenedor */
    overflow-x: scroll;  /* Habilita el scroll horizontal */
    border-bottom: 1px solid #ccc; /* Borde para visualizar mejor el área */
    border-top: 1px solid #ccc;
}

.navbarvertical {
    width: auto;
    padding: 10px;
}

.navbarvertical .nav-link {
    white-space: nowrap; /* Asegura que el texto no se corte en varias líneas */
    color: #052647;;
    font-weight: bold;

}

.custom-toggler {
    display: flex;         /* Establece un contenedor flex para centrar el ícono */
    justify-content: center; /* Centra horizontalmente */
    align-items: center;   /* Centra verticalmente */
    width: 50px;           /* Ajusta el ancho del botón si es necesario */
    height: 50px;          /* Ajusta la altura del botón si es necesario */      /* Mueve el ícono 60px hacia abajo */
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23052647' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-size: 40px 40px; /* Ajusta el tamaño aquí */
    width: 40px;
    height: 40px; 
    text-align: center;
}

.col-auto{
    align-items: center;
    max-height:auto ;
    padding-top: 50px;
    /*box-shadow: 10px 10px 5px rgba(137, 143, 233, 0.3)*/
}

.section-title {
    color:  #0c377f !important; /* Azul */
    font-weight: bold; /* Negrita */
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.form-label {
    font-weight: bold; 
    display: block;
}

.form-control {
    margin-bottom: 15px;
}

.nav-link{
    color: #0c377f; /* Azul */
    font-weight: bold;
    margin: 0;
}

.col{
    padding:35px 85px 30px 45px;
}

.btn-primary {
    background-color: rgb(33, 33, 99);
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none; /* Evita subrayado en el enlace si lo hubiera */
}

.btn-primary:hover {
    background-color:rgb(13, 2, 63) ;
    color: inherit; /* Esto asegura que el link no cambie de color */
    text-decoration: none; /* Evita subrayado en el enlace si lo hubiera */
    color: white;
}

#navbarContent{
    padding-top: 40px;
}

.pen {
    color: white !important; /* Cambia el color del icono a blanco */
}

a{
    color: inherit; /* Esto asegura que el link no cambie de color */
    text-decoration: none; /* Evita subrayado en el enlace si lo hubiera */
    color: white;
}

h3 {
    color:  #0c377f !important; /* Azul */
    font-weight: bold; /* Negrita */
    margin-top: 20px;
    margin-bottom: 20px;
}


.nav-item.active{
    background-color: #0c367f3a;
    border-radius: 10px;
}

.nav-item:hover{
    background-color: #0c367f17;
    border-radius: 10px;
}