.row{
    background-color:#f3f4f6;
    font-family: 'Inter', sans-serif;
}
.navbar{
    position: sticky;  /* Hace que el elemento sea pegajoso */
    top: 0;            /* El valor de 'top' define a partir de qué punto se pega */
    z-index: 1000;     /* Asegura que esté por encima de otros elementos */
    /* Otros estilos que necesites para el diseño */
}
.navbarvertical {
    width: auto;
    padding: 10px;
}
.navbarvertical .nav-link {
    white-space: nowrap;
}
.navbar-toggler {
    border-color: #0c377f;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    align-items: center;
}
.col-auto{
    align-items: center;
}

.section-title {
    color:  #0c377f !important;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.form-label {
    font-weight: bold; 
    display: block;
}

.form-control {
    margin-bottom: 15px;
}

.nav-link{
    color: #0c377f;
    font-weight: bold;
}

.col{
    padding:35px 85px 30px 45px;
    
}

.navbar-toggler-icon{
    padding:60px 0;
    text-align: center;
}
.btn-primary {
    background-color:rgb(33, 33, 99);
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: rgb(13, 2, 63);
}

.nav-item.active{
    background-color: #0c367f3a;
    border-radius: 10px;
}

.nav-item:hover{
    background-color: #0c367f17;
    border-radius: 10px;
}

.btn-secondary, .btn-danger{
    margin:0;
    padding: 0;
    border:none;
    width: 40px; /* Ajusta el tamaño del botón según lo que necesites */
    height: 40px;
    background-color: transparent;
}

.btn-secondary:hover, .btn-danger:hover{
    margin:0;
    padding: 0;
    border:none;
    width: 40px; /* Ajusta el tamaño del botón según lo que necesites */
    height: 40px;
    background-color: transparent;
}

.bi-plus-circle, .bi-trash-fill{
    font-size: 20px;
    margin-bottom: none;
}
