.imagens h2{
    color: #0c377f !important;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}


.imagens{
    padding: 5px;
    background-color: rgba(211, 211, 211, 0.534);
}

.imagen{
    max-width: 600px;
    max-width: 400px;
}

h3 {
    color: #0c377f !important;
    font-weight: bold !important;
    margin-top: 10px;  /* Espaciado superior */
}

.volver{
    font-size: 25px;
    padding-bottom: 50px;
}

tr{
    text-align: center;
    vertical-align: middle; 
}

.reporte {
    background-color: rgb(4, 9, 77) !important;
    position: fixed;
    z-index: 1000; 
    right: 0px;
    bottom: 50px;
    border: none;
    border-radius: 5px;
    width: 60px;  /* Tamaño inicial del botón compacto */
    height: 50px; /* Tamaño inicial del botón */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.4s ease, padding 0.4s ease; /* Transición suave en el cambio de tamaño */
    overflow: hidden;
    cursor: pointer;
}


.reporte .text {
    color: whitesmoke;
    font-size: 16px;
    white-space: nowrap; /* Evita que el texto se divida en líneas */
    display: none; /* Oculta el texto cuando el botón está contraído */
}

.reporte:hover {
    width: 180px; /* Expande el botón cuando se pasa el cursor */
    justify-content: flex-start; /* Alinea el contenido al inicio del botón */
    padding-left: 10px; /* Añade espacio entre el borde y el contenido */
}

.reporte:hover .text {
    display: inline-block; /* Muestra el texto cuando se expande */
}

.reporte:hover img {
    font-size: 40px;  /* Tamaño del ícono */
    margin-right: 10px; /* Espacio para el ícono cuando se expanda */
    
}

#reporte{
    margin-left: 25px;
    padding: 0;

}

/* Evitar que las tablas se partan entre páginas */
table {
    page-break-inside: avoid;
    border:#0c377f 5px solid
}

/* Forzar que cada sección empiece en una nueva página */


.section, p {
    page-break-inside: avoid;
}

table {
    page-break-inside: auto;
    page-break-after: auto;
}

tr {
    page-break-inside: avoid;
    page-break-after: auto;
}

td {
    page-break-inside: avoid;
}

main{
    padding: 0;
}

/* Asegura un espacio inferior en cada tabla o sección */
table, h3, .section {
    margin-bottom: 20px; /* Ajusta según tus necesidades */
}

.special-fmea {
    page-break-inside: avoid; /* Evitar cortes dentro de la sección FMEA */
    break-inside: avoid;      /* Evitar cortes dentro de la sección FMEA */
    overflow: visible;        /* Asegurar que todo el contenido sea visible */
    width: 100%;              /* Asegurar que la sección ocupe todo el ancho */
    font-size: 13px;
}

.imagend{
    max-width: 800px;
    object-fit: contain;
    display: block; /* Asegura que se comporte como un bloque */
    margin-left: auto; /* Centra horizontalmente */
    margin-right: auto; /* Centra horizontalmente */
}

img {
    break-inside: avoid;
}

.diagrama{
    page-break-inside: avoid;
}

body{
    font-family: 'Inter', sans-serif;
}
