body {
    background-color: #f3f4f6;
    font-family: 'Inter', sans-serif;
}

.navbar{
    position: sticky;  /* Hace que el elemento sea pegajoso */
    top: 0;            /* El valor de 'top' define a partir de qué punto se pega */
    z-index: 1000;     /* Asegura que esté por encima de otros elementos */
    /* Otros estilos que necesites para el diseño */
}

.imagen{
    max-height: 400px; /* Establece el valor máximo de altura */
    width: auto; /* Asegura que la proporción se mantenga */
    height: auto; /* Asegura que la proporción se mantenga */
}

.custom-toggler {
    display: flex;         /* Establece un contenedor flex para centrar el ícono */
    justify-content: center; /* Centra horizontalmente */
    align-items: center;   /* Centra verticalmente */
    width: 50px;           /* Ajusta el ancho del botón si es necesario */
    height: 50px;          /* Ajusta la altura del botón si es necesario */
}

.imagend{
    max-width: 1200px;
    object-fit: contain;
    display: block;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23052647' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-size: 40px 40px; /* Ajusta el tamaño aquí */
    width: 45px;
    height: 45px; 
    text-align: center;
}


.navbarvertical {
    width: auto;
    padding: 10px;
    padding-top: 40px;
}
.navbarvertical .nav-link {
    white-space: nowrap; /* Asegura que el texto no se corte en varias líneas */
    color: #052647;;
    font-weight: bold;

}

.col-auto{
    align-items: center;
}

img{
    max-width: 900px;
}

h2 {
    color: rgb(13, 2, 63); /* Color azul */
    font-weight: bold; /* Negrita */
    text-align: center;
}

h3 {
    color: rgb(13, 2, 63); /* Color azul */
    font-weight: bold; 
}

.nav-item.active{
    background-color: #0c367f3a;
    border-radius: 10px;
}

.nav-item:hover{
    background-color: #0c367f17;
    border-radius: 10px;
}
